{% set highlight = pagination and pagination.found_item == entry %}
{% set feat = "featured" if entry.entry_type.startswith("Featured") else "" %}
{% set url = local_url(entry.goto_url or entry.shortest_url or entry.url) %}
{% set thumbnails = entry.thumbnails_srcset %}
{% if not thumbnails and entry.entries %}
    {% set thumbnails = (entry.entries | random).thumbnails_srcset %}
{% endif %}

<div
    class="
        entry card
        {{'highlight' if highlight else ''}}
        {{'featured' if feat else ''}}
        {{entry.entry_type.lower().removesuffix('entry')}}
    "
    onmouseenter="runHoverSlideshow(this)"
    onmouseleave="stopHoverSlideshow(this)"
    {% if entry.load_url %}
        hx-get="{{entry.load_url}}"
        hx-trigger="intersect once"
    {% else %}
        hx-trigger=click
        hx-select=".page-content"
        hx-target=".page-content"
        hx-swap="outerHTML show:window:top"
        hx-push-url=true
    {% endif %}
>
    <div class=thumbnail>
        <div>
            <a href="{{url}}" hx-get="{{url}}">
                <img sizes=10rem srcset="{{thumbnails}}">
            </a>

            <div class=hover-thumbnails>
                {% for srcset in entry.hover_srcsets or [] %}
                    {# These are of the video's aspect ratio and will look #}
                    {# blurry when upscaled by object-fit: cover, so get a #}
                    {# bigger size with "15rem" #}
                    <a href="{{url}}" hx-get="{{url}}">
                        <img sizes=15rem to-load="{{srcset}}">
                    </a>
                {% endfor %}
            </div>

            {% if entry.nth is not none %}
                <span class=index>{{entry.nth}}</span>
            {% endif %}

            {% if entry.live_status == LiveStatus.is_live %}
                <span class=duration>live</span>
            {% elif entry.live_status == LiveStatus.is_upcoming %}
                <span class=duration>soon</span>
            {% elif entry.total_entries %}
                <span
                    class="duration number" 
                    prefix="☰{{no_emoji}} "
                    raw="{{entry.total_entries}}"
                    title="Playlist video count"
                ></span>
                <script>processAllText()</script>
            {% elif entry.duration %}
                <span class=duration>{{format_duration(entry.duration)}}</span>
            {% endif %}
        </div>
    </div>

    <div class=info>
        <a
            class="title elide"
            title="{{entry.title}}" 
            href="{{url}}" 
            hx-get="{{url}}"
        >{{entry.title}}</a>

        {% if entry.channel_name %}
            <div class="channel elide">
                <span class=icon>👤{{no_emoji}}</span>
                <a
                    title="{{entry.channel_name}}"
                    href="{{local_url(entry.shortest_channel_url)}}"
                >{{entry.channel_name}}</a>
            </div>
        {% endif %}

        {% if entry.last_change %}
            <span class=date title="Last modification date">
                <span class=icon>↻{{no_emoji}}</span>
                <span class=youtube-date
                      raw="{{entry.last_change.timestamp()}}"></span>
            </span>
        {% elif entry.release_date %}
            <span class=date title="Release date">
                <span class=icon>🕒{{no_emoji}}</span>
                <span class=youtube-date
                      raw="{{entry.release_date.timestamp()}}"></span>
            </span>
        {% endif %}

        {% if entry.views %}
            <span class=views title=Views>
                <span class=icon>👁{{no_emoji}}</span>
                <span class=compact-number raw="{{entry.views}}"></span>
            </span>
        {% endif %}

        {% if entry.followers %}
            <span class=followers title=Subscribers>
                <span class=icon>👥{{no_emoji}}</span>
                <span class=compact-number raw="{{entry.followers}}"></span>
            </span>
        {% endif %}
    </div>

    {% if highlight %}
        <script>
            document.dispatchEvent(new CustomEvent("highlightedEntry", {
                detail: document.currentScript.parentNode,
            }))
        </script>
    {% endif %}
</div>
