{% set search_filter = search_filter or SearchFilter() %}
{% set filter_is_default = search_filter == SearchFilter() %}
<div id=loading-indicator></div>

<div id=header>
    <form
        id=search-form
        hx-get=/search
        hx-select=.page-content
        hx-target=.page-content
        hx-push-url=true
    >
        <div class=search-row>
            <input
                type=search
                placeholder=Search
                autocomplete=true
                name=query
                value="{{search_query or ''}}"
            >
            <button type=button
                id=filterButton title=Filters onclick="toggleFilters()"
            >
                <span class=icon>{{no_emoji}}</span>
            </button>
            <input type=submit value="{{no_emoji}}" title=Search>
        </div>

        {% macro check(on) -%}{{"checked" if on else ""}}{% endmacro -%}

        {% macro radio(enum_item, label=None, checked=false) -%}
            {% set group = type(enum_item).__name__.lower() %}
            {% set value = enum_item.name %}
            {% set label = label or value %}
            {% set id = group + "-" + label.lower().replace(" ", "-") %}
            {% set on = getattr(search_filter, group) == enum_item %}

            <div class=filter-choice>
                <input type=radio
                    name={{group}} id={{id}} value={{value}} {{check(on)}}
                    required
                ><label for={{id}}>{{label}}</label>
            </div>
        {% endmacro -%}

        {% macro feature(label, enum_item=None) -%}
            {% set id = "feature-" + label.lower().replace(" ", "-") %}
            {% set value = enum_item or label.replace(" ", "") %}
            {% set on = search_filter.features.__and__(Features[value]) %}

            <div class=filter-choice>
                <input type=checkbox
                    id={{id}} name="feature[]" value={{value}} {{check(on)}}
                ><label for={{id}}>{{label}}</label>
            </div>
        {% endmacro -%}

        {% macro legend(name) -%}
            <span class=legend>{{name}}</span>
        {% endmacro -%}

        <div id=search-filters class='{{"" if filter_is_default else "on"}}'>
            <fieldset class=card>
                {{legend("Type")}}
                {{radio(Type.Any, checked=true)}}
                {{radio(Type.Video)}}
                {{radio(Type.Channel)}}
                {{radio(Type.Playlist)}}
                {{radio(Type.Movie)}}
            </fieldset>
            <fieldset class=card>
                {{legend("Duration")}}
                {{radio(Duration.Any, checked=true)}}
                {{radio(Duration.Under4Min, "Under 4 min")}}
                {{radio(Duration.From4To20Min, "4-20 min")}}
                {{radio(Duration.Over20Min, "Over 20 min")}}
            </fieldset>
            <fieldset class=card>
                {{legend("Upload date")}}
                {{radio(Date.Any, checked=true)}}
                {{radio(Date.LastHour, "Last hour")}}
                {{radio(Date.Today)}}
                {{radio(Date.ThisWeek, "This week")}}
                {{radio(Date.ThisMonth, "This month")}}
                {{radio(Date.ThisYear, "This year")}}
            </fieldset>
            <fieldset class=card>
                {{legend("Sort by")}}
                {{radio(Sort.Relevance, checked=true)}}
                {{radio(Sort.Date)}}
                {{radio(Sort.Views)}}
                {{radio(Sort.Rating)}}
            </fieldset>
            <fieldset class=card>
                {{legend("Features")}}
                {{feature("Live")}}
                {{feature("4K", "In4K")}}
                {{feature("HD")}}
                {{feature("Subtitles")}}
                {{feature("Creative Commons")}}
                {{feature("360°", "In360")}}
                {{feature("VR180")}}
                {{feature("3D", "In3D")}}
                {{feature("HDR")}}
                {{feature("Location")}}
                {{feature("Purchased")}}
            </fieldset>
        </div>
    </form>

    <button type=button
        id=copy-yt
        class=has-tooltip 
        title="Copy YouTube link"
        onclick="copyOriginalLink()"
    >
        <span class=icon>{{no_emoji}}</span>
        <span class=icon>{{no_emoji}}</span>
        <div id=copied-yt class=tooltip>Copied YouTube link</div>
    </button>

    <input type=checkbox 
        id=alt-theme title="Toggle dark mode" onchange="saveTheme(this)"
    >

    <script>
        function copyOriginalLink() {
            url = new URL(location.href)
            url.protocol = "https:"
            url.hostname = "youtube.com"
            url.port = ""
            navigator.clipboard.writeText(url.toString())
            document.querySelector("#copied-yt").classList.add("on")
            setTimeout(() => {
                document.querySelector("#copied-yt").classList.remove("on")
            }, 1500)
        }
        function toggleFilters() {
            document.querySelector("#search-filters").classList.toggle("on")
        }
        function saveTheme(checkbox) {
            setToughCookie("alt-theme", checkbox.checked)
        }
        document.querySelector("#alt-theme").checked = getCookie("alt-theme")
    </script>
</div>
