<!-- Copyright Insidious authors <https://github.com/xrun1/insidious>
     SPDX-License-Identifier: AGPL-3.0-or-later -->

<!DOCTYPE html><html>
<head>
    {% include "parts/head.html.jinja" %}
    <link
        rel=alternate
        type=application/rss+xml
        title="{{full_title}}"
        href="{{info.rss_url}}"
    >
</head>

<body>
    {% include "parts/header.html.jinja" %}

    <div id=channel-page class="page-content on-{{current_tab}}-tab">
        {% set url = local_url(info.url) %}

        {% if info.banners_srcset %}
            <img class=banner srcset="{{info.banners_srcset}}">
        {% endif %}

        <div 
            class="avatar-info card"
            hx-select=.page-content
            hx-target=.page-content
            hx-push-url=true
        >
            <a href="{{url}}" hx-get="{{url}}">
                <img
                    class=avatar 
                    sizes=10rem 
                    srcset="{{info.thumbnails_srcset}}"
                >
            </a>

            <div class=info>
                <a href="{{url}}" hx-get="{{url}}">
                    <h1>{{youtube_format(info.title, allow_markup=False)}}</h1>
                </a>

                {% if info.uploader_id not in (None, "@" + info.title) %}
                    <span class=user-id title="User ID">
                        <span class=at>@</span><!-- dumb anti-whitespace
                        -->{{info.uploader_id.removeprefix("@")}}
                    </span>
                {% endif %}

                {% if info.followers %}
                    <span class=followers title=Subscribers>
                        <span class=icon>👥{{no_emoji}}</span>
                        <span class=compact-number raw="{{info.followers}}">
                        </span>
                    </span>
                {% endif %}

                <a class=rss href="{{info.rss_url}}" title="RSS Feed">
                    <span class=icon>{{no_emoji}}</span>
                </a>

                <p class=yt-markup>{{youtube_format(info.description)}}</p>
            </div>
        </div>

        <nav
            class=card
            hx-select=.page-content
            hx-target=.page-content
            hx-push-url=true
        >
            <div class=tabs>
                {% for tab in info.tabs %}
                    {% set cls = "current" if tab == current_tab else "" %}
                    {% set url = subpage_path(tab) %}
                    <a class="{{cls}}" href="{{url}}" hx-get="{{url}}">
                        {{tab.capitalize()}}
                    </a>
                {% endfor %}
            </div>

            {% if current_tab == "videos" %}
                <div class=sortings>
                    {% for param, name in info.sortings.items() %}
                        {% set cls = "current" if sort == param else "" %}
                        {% set url = subpage_path(current_tab, sort=param) %}
                        <a class="{{cls}}" href="{{url}}" hx-get="{{url}}">
                            {{name}}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}

            <form class=search-row hx-get={{subpage_path("search")}}>
                <input
                    type=search
                    class='{{"current" if search_query else ""}}'
                    placeholder="Search channel"
                    autocomplete=true
                    name=query
                    value="{{search_query or ''}}"
                >
                <input type=submit value="🔎{{no_emoji}}" title=Search>
            </form>
        </nav>

        <div class=pages>
            {% include "parts/results.html.jinja" %}
        </div>
    </div>
</body></html>
