<!DOCTYPE html><html>
<head>
    {% include "parts/head.html.jinja" %}
    <link
        rel=alternate
        type=application/rss+xml
        title="{{full_title}}"
        href="/feeds/videos.xml?channel_id={{info.id}}"
    >
</head>

<body>
    {% include "parts/header.html.jinja" %}

    <div id=channel-page class=page-content>
        {% set url = local_url(info.url) %}

        {% if info.banners_srcset %}
            <img class=banner srcset="{{info.banners_srcset}}">
        {% endif %}

        <div 
            class=avatar-info
            hx-select=.page-content
            hx-target=.page-content
            hx-push-url=true
        >
            <a href="{{url}}" hx-get="{{url}}">
                <img
                    class=avatar 
                    sizes=10rem 
                    srcset="{{info.thumbnails_srcset}}"
                >
            </a>

            <div class=info>
                <a href="{{url}}" hx-get="{{url}}">
                    <h1>{{youtube_format(info.title, allow_markup=False)}}</h1>
                </a>

                {% if info.uploader_id not in (None, "@" + info.title) %}
                    <span class=user-id title="User ID">
                        <span class=at>@</span><!-- dumb anti-whitespace
                        -->{{info.uploader_id.removeprefix("@")}}
                    </span>
                {% endif %}

                {% if info.followers %}
                    <span class=followers title=Subscribers>
                        <span class=icon>👥{{no_emoji}}</span>
                        <span class=compact-number raw="{{info.followers}}">
                        </span>
                    </span>
                {% endif %}

                <p class=yt-markup>{{youtube_format(info.description)}}</p>
            </div>
        </div>

        <nav
            hx-select=.page-content
            hx-target=.page-content
            hx-push-url=true
        >
            {% for tab in info.tabs %}
                {% set url = subpage_path(tab) %}
                {% set cls = "current" if url == request.url.path else "" %}
                <a class="{{cls}}" href="{{url}}" hx-get="{{url}}">
                    {{tab.capitalize()}}
                </a>
            {% endfor %}

            <form class=search-row hx-get={{subpage_path("search")}}>
                <input
                    type=search
                    class='{{"current" if search_query else ""}}'
                    placeholder="Search channel"
                    autocomplete=true
                    name=query
                    value="{{search_query or ''}}"
                >
                <input type=submit value="🔎{{no_emoji}}" title=Search>
            </form>
        </nav>

        <div class=pages>
            {% include "parts/results.html.jinja" %}
        </div>
    </div>
</body></html>
