<!-- Copyright Insidious authors <https://github.com/xrun1/insidious>
     SPDX-License-Identifier: AGPL-3.0-or-later -->

<!DOCTYPE html><html>
<head>
    {% include "parts/head.html.jinja" %}
</head>

<body>
    {% include "parts/header.html.jinja" %}

    <div id=home-page class=page-content>
    </div>
</body></html>
