<!DOCTYPE html><html>
<head>
    {% include "parts/head.html.jinja" %}
</head>

<body>
    {% include "parts/header.html.jinja" %}

    <div id=search-page class=page-content>
        <div id=pages>
            {% include "parts/results.html.jinja" %}
        </div>
    </div>
</body></html>
