<!-- Copyright Insidious authors <https://github.com/xrun1/insidious>
     SPDX-License-Identifier: AGPL-3.0-or-later -->

<!DOCTYPE html><html>
<head>
    {% include "parts/head.html.jinja" %}
</head>

<body {{'class=embed' if is_embed else ''}}>
    {% include "parts/header.html.jinja" %}

    <div id=watch-page class=page-content>
        <div id=player-area class=card>
            {% set fixed_ratio = [1, info.aspect_ratio] | max %}
            <div
                id=player-and-controls
                style="background: url('{{info.best_thumbnail.fixed_url}}')"
            >
                <div id=player-holder style="aspect-ratio: {{fixed_ratio}}">
                    {% include "parts/player.html.jinja" %}
                </div>
            </div>
            <div id=player-crash-overlay>
                Playback or network failure, try refreshing the page.
                <code class=error></code>
            </div>
        </div>

        <div id=video-info class=card>
            <h1>{{youtube_format(info.title, allow_markup=False)}}</h1>

            <div class=video-details>
                {% set channel_url = local_url(info.shortest_channel_url) %}
                <div class=video-author>
                    <div
                        class=avatar-info
                        hx-get="{{channel_url}}"
                        hx-trigger=load
                        hx-select=".avatar-info"
                        hx-target=this
                        hx-swap="outerHTML ignoreTitle:true"
                    >
                        <div class=avatar></div>
                        <div class=info>
                            <a href="{{channel_url}}" hx-get="{{channel_url}}">
                                <h1>{{info.channel_name}}</h1>
                            </a>
                            <p>&nbsp;<br>&nbsp;</p>
                        </div>
                    </div>
                </div>

                <div
                    class=video-little-details
                    {% if info.metadata_reload_time %}
                        hx-get="{{request.url}}"
                        hx-trigger="load delay:{{info.metadata_reload_time}}s"
                        hx-select=.video-little-details
                    {% endif %}
                >
                    <div class=date title="Release date">
                        <span class=icon>{{no_emoji}}</span>
                        <span
                            class=youtube-day-date
                            raw="{{info.release_date.timestamp()}}"
                        ></span>
                    </div>

                    {% if info.fully_released %}
                        <div class=views title=Views>
                    {% else %}
                        <div
                            class=views title=Spectators
                        >
                            <script>processAllText()</script>
                    {% endif %}
                        <span class=icon>👁{{no_emoji}}</span>
                        <span class=number raw="{{info.views}}"></span>
                    </div>

                    {% if info.likes is not none %}
                        <div class=likes title="Likes">
                            <span class=icon>👍{{no_emoji}}</span>
                            <span class=number raw="{{info.likes}}"></span>
                        </div>
                    {% endif %}

                    <div hx-get="{{info.dislikes_url}}" hx-trigger=load>
                        {% include "parts/dislikes.html.jinja" %}
                    </div>
                    <script>processAllText()</script>
                </div>
                <script>processAllText()</script>
            </div>

            {% if info.description %}
                <p
                    class="video-description yt-markup"
                >{{youtube_format(info.description)}}</p>
            {% endif %}
        </div>

        {% if get_comments %}
            <div
                id=comments
                class=card
                hx-get="{{get_comments}}"
                hx-trigger=load
                hx-swap=innerHTML
            ></div>
        {% endif %}

        <div id=other-videos>
            {% if get_playlist %}
                <script>
                    document.addEventListener("highlightedEntry", ev => {
                        ev.detail.scrollIntoView({block: "center"})
                    })
                    window.addEventListener("resize", () => {
                        document.querySelector("#playlist .entry.highlight")
                            .scrollIntoView({block: "center"})
                    });
                </script>
                <div 
                    id=playlist
                    class=card
                    hx-get="{{get_playlist}}"
                    hx-trigger=load
                    hx-select=".page-content > *"
                    hx-swap="innerHTML ignoreTitle:true"
                ></div>
            {% endif %}

            {% if get_related %}
                <div
                    id=related
                    hx-get="{{get_related}}"
                    hx-trigger=load
                    hx-select=.pages
                    hx-swap="innerHTML ignoreTitle:true"
                ></div>
            {% endif %}
        </div>

        {% if info.releases_in %}
            <div
                hx-get="{{request.url}}"
                hx-trigger="load delay:{{info.releases_in}}s"
                hx-select=.page-content
                hx-target=.page-content
            ></div>
        {% endif %}
    </div>
</body></html>
