<a
    class=entry
    href="{{local_url(entry.url)}}"
    hx-get="{{local_url(entry.url)}}"
    hx-select=#main-column
    hx-target=#main-column
    hx-push-url=true
>
    <div
        class=thumbnail
        style="background: url('{{entry.thumb_for(160).fixed_url}}')"
    >
        {% if entry.live_status == LiveStatus.is_live %}
            <span class=duration>live</span>
        {% elif entry.live_status == LiveStatus.is_upcoming %}
            <span class=duration>soon</span>
        {% elif entry.duration %}
            <span class=duration>{{format_duration(entry.duration)}}</span>
        {% endif %}
    </div>

    <div class=info>
        <div class=title title="{{entry.title}}">{{entry.title}}</div>

        {% if entry.release_date %}
            <div class=date>{{relative_time(entry.release_date)}}</div>
        {% endif %}
    </div>
</a>
