{%- macro link_attrs(url=None, target="#main-column") %}
    {% set url = url or entry.shortest_url or entry.url %}
    href="{{local_url(url)}}"
    hx-get="{{local_url(url)}}"
    hx-select={{target}}
    hx-target={{target}}
    hx-push-url=true
{%- endmacro %} 

<div class=entry>
    <a
        {{link_attrs()}}
        class=thumbnail
        {% if entry.thumbnails %}
            style="background: url('{{entry.thumb_for(160).fixed_url}}')"
        {% endif %}
    >
        {% if entry.live_status == LiveStatus.is_live %}
            <span class=duration>live</span>
        {% elif entry.live_status == LiveStatus.is_upcoming %}
            <span class=duration>soon</span>
        {% elif entry.duration %}
            <span class=duration>{{format_duration(entry.duration)}}</span>
        {% endif %}
    </a>

    <div class=info>
        <a class="title elide" title="{{entry.title}}" {{link_attrs()}}>
            {{entry.title}}
        </a>

        {% if entry.channel_name %}
            <div class="channel elide">
                <span class=icon>👤{{no_emoji}}</span>
                <a
                    {{link_attrs(entry.shortest_channel_url)}}"
                    title="{{entry.channel_name}}"
                >{{entry.channel_name}}</a>
            </div>
        {% endif %}

        {% if entry.release_date %}
            <span class=date title="Release date">
                <span class=icon>🕒{{no_emoji}}</span>
                <span class=youtube-date
                      raw="{{entry.release_date.timestamp()}}"></span>
            </span>
        {% endif %}

        {% if entry.views %}
            <span class=views title=Views>
                <span class=icon>👁{{no_emoji}}</span>
                <span class=compact-number raw="{{entry.views}}"></span>
            </span>
        {% endif %}

        {% if entry.followers %}
            <span class=followers title=Suscribers>
                <span class=icon>👥{{no_emoji}}</span>
                <span class=compact-number raw="{{entry.followers}}"></span>
            </span>
        {% endif %}

    </div>
</div>
