<div class=page>
    {% for entry in pagination.items %}
        {% include "entry.html.jinja" %}
    {% endfor %}
</div>
<script>processAllText()</script>

{% if pagination.next_url %}
    <div
        class="lazy-loader {{'large' if pagination.running_short else ''}}"
        hx-get="{{pagination.next_url}}"
        hx-trigger="intersect once"
        hx-select="#explore-column > *"
        hx-target=#explore-column
        hx-swap=beforeend
    ></div>
{% endif %}
