{% if group.banners_srcset %}
    <img class=banner srcset="{{group.banners_srcset}}">
{% endif %}

<div class=avatar-info>
    {% if group.thumbnails_srcset %}
        <img class=avatar sizes=10rem
            srcset="{{group.thumbnails_srcset}}">
    {% endif %}

    <div class=info>
        <h1>{{youtube_format(group.title, allow_markup=False)}}</h1>

        {% if group.followers %}
            <span class=followers title=Suscribers>
                <span class=icon>👥{{no_emoji}}</span>
                <span class=compact-number raw="{{group.followers}}">
                </span>
            </span>
        {% endif %}

        <div class=playlist-details>
            {% if group.channel_name %}
                <div class="channel elide">
                    <span class=icon>👤{{no_emoji}}</span>
                    <a
                        title="{{group.channel_name}}"
                        href="{{local_url(group.shortest_channel_url)}}"
                    >{{group.channel_name}}</a>
                </div>
            {% endif %}

            {% if group.total_entries %}
                <span class=total-entries title="Playlist video count">
                    <span class=icon>☰{{no_emoji}}</span>
                    <span class=number raw="{{group.total_entries}}"></span>
                </span>
            {% endif %}

            {% if group.last_change %}
                <span class=date title="Last modification date">
                    <span class=icon>↻{{no_emoji}}</span>
                    <span class=youtube-date
                          raw="{{group.last_change.timestamp()}}"></span>
                </span>
            {% endif %}

            {% if group.views %}
                <span class=views title=Views>
                    <span class=icon>👁{{no_emoji}}</span>
                    <span class=compact-number raw="{{group.views}}"></span>
                </span>
            {% endif %}

            <script>processAllText()</script>
        </div>

        <p class=yt-markup>{{youtube_format(group.description)}}</p>
    </div>
</div>

<nav>
    {% for tab in group.tabs %}
        {% set url = group.tab_url(request.url, tab) %}
        <a
            href="{{url}}"
            hx-get="{{url}}"
            hx-select=#explore-column
            hx-target=#explore-column
            hx-push-url=true
        >{{tab.capitalize()}}</a>
    {% endfor %}
</nav>
