<form
    id=search
    hx-get="/results"
    hx-select="#explore-column"
    hx-target="#explore-column"
    hx-push-url=true
>
    <input
        type=search
        placeholder="Search"
        autocomplete=true
        autofocus={{"false" if video else "true"}}
        name=search_query
    >
</form>
