<!DOCTYPE html>
<html>
    <head>
        {% if title %}<title>{{title}}</title>{% endif %}
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name=referrer content=strict-origin>

        <link rel=stylesheet href=/static/modern-normalize.min.css>
        <link rel=stylesheet href=/style.css>

        <script src=/static/htmx.min.js></script>
        <script>htmx.config.defaultSwapStyle = "outerHTML"</script>
        <script src=/static/shared.js></script>

        <link rel=stylesheet href=/static/video-js.min.css>
        <script src=/static/video.min.js></script>
        <script src=/static/videojs-contrib-quality-levels.js></script>
        <script src=/static/jb-videojs-hls-quality-selector.js></script>
    </head>
    <body>
        <form
            id=search
            hx-get="/results"
            hx-select="#explore-column"
            hx-target="#explore-column"
            hx-push-url=true
        >
            <input
                type=search
                placeholder="Search"
                autocomplete=true
                autofocus={{"false" if video else "true"}}
                name=search_query
            >
        </form>

        <div id=video-column class="{{'' if video else 'empty'}}">
            <div id=player-holder style="--ratio: {{video.aspect_ratio}}">
                {% if video %}
                    {% include "player.html.jinja" %}
                {% endif %}
            </div>

            {% if video %}
                <h1>{{youtube_format(video.title, allow_markup=False)}}</h1>
            {% endif %}

            {% if video.description %}
                <p class=yt-markup>{{youtube_format(video.description)}}</p>
            {% endif %}
        </div>

        <div id=group class="{{'' if group else 'empty'}}">
            {% if group %}
                {% include "group.html.jinja" %}
            {% endif %}
        </div>

        <div id=explore-column class="{{'' if results.entries else 'empty'}}">
            <div class=page>
                {% for entry in results.entries %}
                    {% include "entry.html.jinja" %}
                {% endfor %}
            </div>
            <script>processAllText()</script>

            {% if next_page %}
                <div
                    class=lazy-loader
                    hx-get="{{next_page}}"
                    hx-trigger="intersect once"
                    hx-select="#explore-column > *"
                    hx-target=#explore-column
                    hx-swap=beforeend
                ></div>
            {% endif %}
        </div>

        {% if UVICORN_RELOAD %}
            <script src="/static/autoreload.js"></script>
        {% endif %}
    </body>
</html>
