<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel=stylesheet href=/static/modern-normalize.min.css>
        <link rel=stylesheet href=/style.css>
        <link rel=stylesheet href=/static/video-js.min.css>

        <script src=/static/htmx.min.js></script>
        <script>htmx.config.defaultSwapStyle = "outerHTML"</script>
        <script src=/static/video.min.js></script>
    </head>
    <body>
        <form
            id=search
            hx-get="/results"
            hx-select="#explore-column"
            hx-target="#explore-column"
            hx-push-url=true
        >
            <input
                type=search
                placeholder="Search"
                autocomplete=true
                autofocus={{"false" if video else "true"}}
                name=search_query
            >
        </form>

        <div id=main-column class="{{'' if video else 'empty'}}">
            <div id=player-holder style="--ratio: {{video.aspect_ratio}}">
                {% if video %}
                    {% include "player.html.jinja" %}
                {% endif %}
            </div>
            <p>{{video.title}}</p>
        </div>

        <div id=explore-column class="{{'' if results.entries else 'empty'}}">
            <div id=results>
                {% for entry in results.entries %}
                    <a
                        class=result
                        href="{{local_url(entry.url)}}"
                        hx-get="{{local_url(entry.url)}}"
                        hx-select=#player-holder
                        hx-target=#player-holder
                        hx-push-url=true
                    >
                        <img src="{{entry.thumb_for(160).fixed_url}}">
                        <p title="{{entry.title}}">{{entry.title}}</p>
                    </a>
                {% endfor %}
            </div>

            {% if next_page %}
                <div
                    class=lazy-loader
                    hx-get="{{next_page}}"
                    hx-trigger="intersect once"
                    hx-select="#explore-column > *"
                    hx-target=#explore-column
                    hx-swap=beforeend
                ></div>
            {% endif %}
        </div>

        {% if UVICORN_RELOAD %}
            <script src="/static/autoreload.js"></script>
        {% endif %}
    </body>
</html>
