<!DOCTYPE html>
<html>
    <head>
        {% if title %}<title>{{title}}</title>{% endif %}
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name=referrer content=strict-origin>

        <link rel=stylesheet href=/static/modern-normalize.min.css>
        <link rel=stylesheet href=/style.css>

        <script src=/static/htmx.min.js></script>
        <script>htmx.config.defaultSwapStyle = "outerHTML"</script>
        <script src=/static/shared.js></script>

        <link rel=stylesheet href=/static/video-js.min.css>
        <script src=/static/video.min.js></script>
        <script src=/static/videojs-contrib-quality-levels.js></script>
        <script src=/static/jb-videojs-hls-quality-selector.js></script>
    </head>
    <body>
        {% include "header.html.jinja" %}

        <div id=video-column class="{{'' if video else 'empty'}}">
            {% include "video.html.jinja" %}
        </div>

        <div id=group class="{{'' if group else 'empty'}}">
            {% if group %}
                {% include "group.html.jinja" %}
            {% endif %}
        </div>

        <div id=explore-column class="{{'' if results.entries else 'empty'}}">
            {% include "explore.html.jinja" %}
        </div>

        {% if UVICORN_RELOAD %}
            <script src="/static/autoreload.js"></script>
        {% endif %}
    </body>
</html>
