:root {
    --thumb-width: min(33svw, 10rem);
    --thumb-height: calc(10rem / (16 / 9));
    --text-big: 1.125rem;
    --text-bigger: 1.25rem;
    --text-small: 0.875rem;
    --text-smaller: 0.7rem;
    --side: min(90svw, 20rem);
    --gap: 1rem;
    --gap-small: 0.6rem;
    --hpad: 0.25rem;
    --vpad: 0.375rem;
    --radius: 0.4rem;
    --accent: #2a32a9;
    --max-search-width: min(
        100svw - var(--gap) * 2,
        var(--side) * 3 + var(--gap-small) * 2
    );
    --video-width: min(
        100svh, 
        max(50rem, 40svw), 
        100svw - var(--side) - var(--gap) * 3
    );
    --narrow-video-width: min(100svh, 100svw - var(--gap) * 2);
    --player-main-controls-height: 2.75rem;
    --player-time-range-height: 0.3rem;
    --player-controls-height: calc(
        var(--player-main-controls-height) + var(--player-time-range-height)
    )
}

html {
    height: 100%;
    overflow-wrap: anywhere;
}

body {
    background: #fafafa;
    min-height: 100%;
    padding: var(--gap);
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-rows: max-content;
    justify-content: center;
    gap: var(--gap);
    /* Prevent layout shift due to scrollbars appearing when content is 
       initially lazy-loaded */
    overflow-y: scroll;
}

p { 
    margin: 0;
}

hr {
    margin-block-start: var(--gap-small);
    margin-block-end: var(--gap-small);
}

a {
    text-decoration-line: none;
    color: var(--accent);
}

h1 {
    font-size: var(--text-bigger);
    font-weight: 500;
    margin-block-start: var(--gap-small);
    margin-block-end: var(--gap-small);
}

h2 {
    font-size: var(--text-big);
    font-weight: 500;
    margin-block-start: var(--gap-small);
    margin-block-end: var(--gap-small);
}

input, button {
    border-radius: var(--radius);
    padding: var(--hpad) var(--vpad);
    border: 1px solid black;
    outline: 0;

    &:focus-visible {
        border-color: var(--accent);
    }
}

img {
    border-radius: var(--radius);
    object-fit: cover;

    &[srcset=""] {
        opacity: 0;
    }
}

:not(#explore-column).empty {
    display: none; 
}

.icon {
    display: inline-block;
    text-align: center;
    width: 0.9rem;
}

.elide {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#search {
    > input[type=search] {
        width: 100%;
        height: 100%;
    }
}

#channel-page, #playlist-page {
    display: flex;
    width: var(--max-search-width);
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap);

    & .banner {
        width: 100%;
        height: 12rem;
    }

    & nav {
        display: flex;
        flex-flow: row wrap;
        gap: var(--gap-small);
        width: 100%;
        justify-content: center;
    }

    /* These links are useful only when the channel/playlist page is embedded,
       they point to the full page */
    > .avatar-info > a, > .avatar-info > .info > a {
          pointer-events: none;
          cursor: default;
          text-decoration: none;
          color: black;
    }

    & .playlist-details {
        display: flex;
        flex-flow: row wrap;
        gap: var(--gap-small);
        margin: calc(var(--gap-small) / 2) 0;

        & + p {
            margin-block-start: 0;
        }
    }
}

#playlist-page .avatar-info, #channel-page nav {
    margin: var(--gap-small) 0;
}

.avatar-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap);

    & a:has(> .avatar) {
        align-self: flex-start;
    }

    & .info {
        flex: 1;
        min-width: var(--thumb-width);
        & h1 { 
            display: inline;
            margin-right: var(--gap-small);
        }
        & p {
            margin-top: var(--gap-small);
        }
    }
}

#watch-page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: var(--gap);

    > #video-column {
        min-width: var(--video-width);
        max-width: var(--video-width);
    }

    > #other-videos {
        min-width: var(--side);
        max-width: var(--side);

        > #playlist {
            position: relative;  /* confine lazy loaders inside to that div */
            max-height: 66svh;
            border: 1px solid black;
            overflow-y: scroll;
            margin-bottom: var(--gap);
            border-radius: var(--radius);
            /* FIXME: need to implement our own scrollbar */
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;

            & .avatar-info {
                position: sticky;
                top: 0;
                z-index: 100;
                background: #fafafa;
                padding: var(--hpad) var(--vpad);
                border-bottom: 1px solid black;

                & h1 {
                    margin: 0;
                }
                &:not(:hover) {
                    & .info {
                        display: flex;
                        flex-flow: row nowrap;
                        gap: var(--gap-small);
                        align-items: baseline;
                        justify-content: space-between;
                    }
                    & .total-entries {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: right;
                        gap: calc(var(--gap-small) / 4);
                    }
                    & .channel, .date, .views {
                        display: none;
                    }
                }

                & p, a:has(> .avatar), .avatar {
                    display: none;
                }
            }
            & #pages {
                margin-top: calc(var(--gap-small) / 2);
                & .page {
                    gap: 0;
                    & .entry {
                        scale: 0.9;
                    }
                }
            }
        }
    }
}

.video-details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: var(--gap-small);
    gap: var(--gap);
}

.video-author {
    height: 4rem;

    & .avatar-info {
        width: 100%;

        & a:has(> .avatar), .avatar {
            width: 4rem;
            height: 4rem;
        }
        & .info {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            & h1 {
                align-self: flex-start;
            }
            & p {
                margin-block-start: 0;
                white-space: normal;
                opacity: 0.85;
            }
        }
    }
}

.video-little-details {
    flex-shrink: 0;
}

.yt-markup {
    white-space: pre-wrap;
}

#player-and-controls {
    margin-bottom: var(--gap);
    background-size: cover !important;
    border-radius: var(--radius);
    overflow: hidden;
    /* Apprently this makes the transform above render on GPU or something */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    &:has(media-controller:not([mediaisfullscreen])) {
        padding-bottom: var(--player-controls-height);
    }
}

media-controller {
    display: block;
    user-select: none;

    & media-poster-image {
        --media-object-fit: cover;
    }

    &:not([mediaisfullscreen]) media-control-bar {
        opacity: 1;
        translate: 0 var(--player-controls-height);
        backdrop-filter: blur(10px);
    }

    & media-control-bar {
        transition: 0.3s all ease-out;
        opacity: 1;
    }
    &[mediaisfullscreen][userinactive]:not([mediapaused]) {
        & media-control-bar {
            translate: 0 var(--player-controls-height);
            opacity: 0.7;
            border-top: 1px solid rgba(0, 0, 0, 0.7);
            --media-range-track-height: 0.08rem;
            --media-range-thumb-opacity: 0;
        }
    }

    &:not([mediahasplayed]), &[mediaended] {
        > media-loading-indicator {
            --media-control-display: none;
        }
    }

    &[mediahasplayed]:not([mediaended]) {
        > media-play-button[slot=centered-chrome] {
            --media-control-display: none;
        }
    }

    & media-control-bar {
        backdrop-filter: none;
        white-space: nowrap;
        width: 100%;

        &:has(> media-time-range) {
            backdrop-filter: unset !important;
            z-index: 10;
            --media-range-thumb-border: 1px solid rgba(0, 0, 0, 0.7);
        }

        &:hover media-time-range {
            --media-range-track-height: 0.5rem;
        }
    }

    & #current-chapter {
        flex-grow: 10;
        min-width: 0;
        pointer-events: none;
        justify-content: flex-start;
    }

    & media-time-range {
        height: var(--player-time-range-height);
        --media-range-track-transition: height 0.1s;
        --media-range-padding: 0;
    }

    & media-airplay-button[mediaairplayunavailable],
    & media-cast-button[mediacastunavailable],
    & media-pip-button[mediapipunavailable] {
        --media-control-display: none;
    }

    & media-airplay-button[mediaisairplaying],
    & media-pip-button[mediaispip],
    & media-cast-button[mediaiscasting],
    & media-captions-menu-button[mediasubtitlesshowing]
    {
        --media-primary-color: cyan;
    }

    & .no-choice, media-captions-menu-button:not([mediasubtitleslist]) {
        --media-control-display: none;
    }

    & media-live-button {
        position: absolute;
        top: var(--gap-small);
        left: var(--gap-small);
        padding: calc(var(--hpad) * 2) calc(var(--vpad) * 2);
    }

    & #quality-button {
        &:not(.auto) #auto-current-level {
            display: none;
        }
        &.auto #quality-indicator {
            font-size: var(--text-smaller);
            line-height: 110%;
            text-align: center;
        }
        &.auto #auto-current-level {
            font-size: var(--text-smaller);
            line-height: 100%;
            text-align: center;
            opacity: 0.8;
        }
    }

    &.upcoming {
        & #upcoming-notice {
            border: 1px solid gray;
            border-radius: var(--radius);
        }

        & media-control-bar {
            filter: brightness(0.6);
            cursor: not-allowed;

            & * {
                pointer-events: none !important;
            }
        }
    }
}

.page {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--side));
    justify-content: center;
    gap: var(--gap-small);
    max-width: var(--max-search-width);
    margin: 0 auto;

    &:not(:first-child) {
        margin-top: var(--gap-small)
    }
}

.entry {
    display: grid;
    grid-template-columns: var(--thumb-width) 1fr;
    grid-template-rows: var(--thumb-height);
    gap: var(--gap-small);

    &.highlight {
        background: #d6d6d6
    }

    & .thumbnail {
        grid-row: 1 / 1;

        > div {
            position: relative;
            height: 100%;

            & a:has(> img), img {
                display: block;
                width: 100%;
                height: 100%;
            }

            & .hover-thumbnails > a {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: 1s opacity;
                &.current {
                    opacity: 1;
                }
            }
            > .index {
                position: absolute;
                top: 0;
                left: 0;
                display: none;
            }
            > .duration {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
    & .index, .duration {
        /* scale as workaround to < 1.4rem font-size giving strange padding */
        font-size: var(--text-small);
        transform: scale(80%);
        color: white;
        background: hsla(0, 0%, 0%, 0.7);
        font-variant: small-caps;  /* for LIVE/SOON */
        margin: 0.0625rem;
        padding: var(--hpad);
        border-radius: var(--radius);
    }
    & .info {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        align-content: center;
        align-items: end;
        gap: 0.125rem var(--vpad);

        & .title {
            grid-column: 1 / -1;
            -webkit-line-clamp: 3;
            &:has(+ :not(.channel)) { -webkit-line-clamp: 4; }
            &:last-child { -webkit-line-clamp: 5; }
        }
        & .channel {
            grid-column: 1 / -1;
        }
        & .followers > .icon {
            font-weight: bold; 
        }
        & :not(.title) {
            font-size: var(--text-small);
            > :not(.icon) { font-weight: 300; }
        }
    }
}

#playlist .index, #playlist-page .index {
    display: unset;
}

.comment-page {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: var(--gap-small) 0;

    &:not(:first-child) {
        margin-top: var(--gap-small)
    }

    & .comment {
        display: flex;
        flex-flow: row nowrap;
        padding: var(--vpad) calc(var(--hpad) * 1.5);
        gap: var(--gap-small);
        background: #e2e2e2;
        border-radius: var(--radius);

        & .avatar {
            min-width: 2.5rem;
            min-height: 2.5rem;
            width: 2.5rem;
            height: 2.5rem;
        }

        & .content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            & .details {
                display: flex;
                flex-flow: row wrap;
                gap: calc(var(--gap-small) * 0.75);
                font-weight: 300;

                & .icon {
                    font-weight: initial;
                }

                & .by-uploader {
                    font-weight: 500;
                }

                & .edited {
                    scale: 0.9;
                    width: unset;
                }

                & .replies .close {
                    display: none;
                }
            }
        }
    }
    & .comment:has(+ .thread-replies:not(.hidden)) .replies {
        & .close { display: initial; }
        & .open { display: none; }
    }
    .thread-replies {
        min-width: 1px;
        min-height: 1px;
        padding-left: calc(var(--gap) * 2);

        > div {
            min-width: 1px;
            min-height: 1px;
        }

        &.hidden {
            display: none;
        }
    }
}

.nothing-found {
    opacity: 0.4;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.lazy-loader {
    position: absolute;
    pointer-events: none;
    margin-top: -10svh;
    height: 10svh;
    /* width: 20svw; */
    /* background: rgba(0, 255, 0, 0.5); */

    &.large {
        margin-top: -200svh;
        height: 200svh;
        /* background: rgba(255, 0, 0, 0.2); */
    }
}

/* calc(var(--side) + var(--gap) * 2) * 2 */
@media all and (max-width: calc((20rem + 1rem * 2) * 2)) {
    .page {
        grid-template-columns: auto;
    }
}
@media all and (max-width: 30rem) {
    .video-details {
        flex-flow: row wrap;
    };
    .video-little-details {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: var(--gap-small);
    }
}
@media all and (max-width: 20rem) {  /* var(--side) */
    .entry .info:has(.title + :not(.channel))  {
        grid-template-columns: 1fr;
    }
    .entry .info .title {
        -webkit-line-clamp: 2;
        &:has(+ :not(.channel)) { -webkit-line-clamp: 3; }
        &:last-child { -webkit-line-clamp: 4; }
    }
}

@media all and (max-width: 48rem) {  /* 768px at 16px font size */
    #watch-page {
        flex-flow: column nowrap;
        align-items: center;

        > #video-column {
            min-width: var(--narrow-video-width);
            max-width: var(--narrow-video-width);
        }

        > #other-videos {
            max-width: unset;
        }
    }
}

body.embed {
    display: block;
    padding: 0;
    overflow-y: auto;

    & #watch-page {
        display: block;
        height: 100svh;
    }

    & #video-column {
        min-width: 100% !important;
        max-width: 100% !important;
        height: 100svh;
    }

    & #player-holder, media-controller {
        height: calc(100svh - var(--player-controls-height)) !important;
        aspect-ratio: unset !important;
    }

    & #player-and-controls {
        border-radius: 0;
    }

    & #header, #other-videos, #player-and-controls ~ * {
        display: none;
    }
}
