/* Copyright Insidious authors <https://github.com/xrun1/insidious>
 * SPDX-License-Identifier: AGPL-3.0-or-later */

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loading-indicator {
    position: fixed;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    border: calc(5 * var(--rempx)) solid var(--accent-strong);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    animation: rotation 0.8s linear infinite;
    margin: var(--gap-small);
    z-index: 1000000;
    transition: 0.3s opacity ease-out;
    pointer-events: none;
}

.htmx-request {
    cursor: progress !important;
}

body:not(:has(.htmx-request)) #loading-indicator {
    opacity: 0;
    animation-play-state: paused;
}
