/* Copyright Insidious authors <https://github.com/xrun1/insidious>
 * SPDX-License-Identifier: AGPL-3.0-or-later */

@import "./fonts/include.css";
@import "./loading.css";

:root {
    --fonts: Roboto, "Segoe UI", Helvetica, Arial, sans-serif;
    --rempx: calc(1rem / 16);
    --thumb-width: min(33svw, 10rem);
    --thumb-height: calc(10rem / (16 / 9));
    --short-thumb-height: calc(var(--thumb-height) * 3);
    --text-big: 1.0625rem;
    --text-bigger: 1.125rem;
    --text-normal: 1rem;
    --text-small: 0.875rem;
    --text-smaller: 0.7rem;
    --side: min(90svw, 21rem);
    --gap: 1rem;
    --gap-small: 0.6rem;
    --vpad: 0.375rem;
    --hpad: 0.5rem;
    --radius: 0.4rem;
    --player-main-controls-height: 2.7rem;
    --player-time-range-height: 0.3rem;
    --player-controls-height: calc(
        var(--player-main-controls-height) + var(--player-time-range-height)
    );

    --box-shadow: 0.25rem 0.15rem 0.65rem rgba(0, 0, 0, 0.15);
    --box-shadow-down: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.15);
    --box-shadow-strong: 0.25rem 0.15rem 0.65rem rgba(0, 0, 0, 0.26);

    --theme-transition: 0.3s ease-out background, 0.1s ease-out color;
    --fg: black;
    --fg-icons: #222;
    --bg-back: #e1e1e1;
    --bg-front: #fcfcfc;
    --bg-buttons: #eee;
    --scroll-track: var(--bg-front);
    --scroll-thumb: #c6c6c6;
    --scroll-nested-track: hsl(0, 0%, 96%);
    --scroll-nested-thumb: hsl(0, 0%, 80%);
    --accent: hsl(235, 60%, 40%);
    --accent-weak: hsl(235, 75%, 30%);
    --accent-strong: hsl(235, 100%, 80%);
    --discrete-border: hsl(235, 20%, 90%);
    --opacity-dim: 0.75;
    --opacity-dimmer: 0.5;

    &:has(#alt-theme:checked) {
        --fg: hsl(0, 0%, 90%);
        --fg-icons: hsl(0, 0%, 85%);
        --bg-back: hsl(240, 14%, 17%);
        --bg-front: hsl(240, 20%, 25%);
        --bg-buttons: hsl(240, 20%, 30%);
        --scroll-track: hsl(240, 19%, 35%);
        --scroll-thumb: hsl(240, 19%, 55%);
        --scroll-nested-track: hsl(240, 25%, 35%);
        --scroll-nested-thumb: hsl(240, 25%, 60%);
        --accent: hsl(220, 100%, 88%);
        --accent-weak: hsl(220, 80%, 88%);
        --accent-strong: hsl(220, 100%, 80%);
        --discrete-border: hsl(240, 20%, 20%);
        --opacity-dim: 0.86;
        --opacity-dimmer: 0.56;
    }
}

@keyframes pop-in {
    0% {
        scale: 0;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}

html {
    height: 100%;
    overflow-wrap: anywhere;
    font-size: 93.75%;  /* scale rem so that 16px/rem would be 15px/rem */

    scrollbar-color: var(--scroll-thumb) var(--scroll-track); 
    &::-webkit-scrollbar-track { background: var(--scroll-track); }
    &::-webkit-scrollbar-thumb { background: var(--scroll-thumb); }
}

body {
    transition: var(--theme-transition);
    color: var(--fg);
    background: var(--bg-back);
    font-family: var(--fonts);
    font-size: var(--text-normal);
    padding: var(--gap);
    min-height: 100%;
    scrollbar-gutter: stable;
    display: grid;
    gap: var(--gap);
    justify-content: center;
    grid-template-rows: min-content;
    grid-template-columns: min(100%, var(--side) * 3 + var(--gap-small) * 2);

    scrollbar-color: var(--scroll-nested-thumb) var(--scroll-nested-track); 
    &::-webkit-scrollbar-track { background: var(--scroll-nested-track); }
    &::-webkit-scrollbar-thumb { background: var(--scroll-nested-thumb); }

    &:has(#watch-page) {
        grid-template-columns: calc(var(--side) + min(
            100svh, 
            max(50rem, 40svw), 
            100svw - var(--side) - var(--gap) * 3
        ));
    }
}

p { 
    margin: 0;
}

hr {
    margin-block-start: var(--gap-small);
    margin-block-end: var(--gap-small);
}

a {
    text-decoration-line: none;
    color: var(--accent);
    transition: var(--theme-transition);

    > .icon:only-child {
        color: var(--accent) !important;
    }
}

h1 {
    font-size: var(--text-bigger);
    font-weight: 500;
    margin: 0;
}

h2 {
    font-size: var(--text-big);
    font-weight: 500;
    margin: 0;
}

input, button {
    border-radius: var(--radius);
    padding: var(--vpad) var(--hpad);
    color: var(--fg);
    background: var(--bg-front);
    transition: var(--theme-transition);
    border: 0;
    border-bottom: var(--rempx) solid transparent;
    outline: 0;

    &::placeholder {
        color: var(--fg); 
        opacity: var(--opacity-dim);
    }

    &:not(:is([type=checkbox], [type=radio])) {
        box-shadow: var(--box-shadow);
    }

    &:focus-visible {
        border-bottom: var(--rempx) solid var(--accent);
    }
}
button, input[type=submit] {
    background: var(--bg-buttons);
    color: var(--fg);
    transition: var(--theme-transition);
}

img {
    border-radius: var(--radius);
    object-fit: cover;
    background: black;

    &[srcset=""] {
        opacity: 0;
    }
}

.card {
    background: var(--bg-front);
    transition: var(--theme-transition);
    border-radius: var(--radius);
    padding: var(--vpad) var(--hpad);
    box-shadow: var(--box-shadow);

    > .card {
        box-shadow: var(--box-shadow-down);
        border-bottom: var(--rempx) solid var(--discrete-border);
    }
}

.icon {
    display: inline-block;
    text-align: center;
    width: 1rem;
    scale: 0.8;
    color: var(--fg-icons);
    transition: var(--theme-transition);
    /* font-family: "Font Awesome 6 Free", var(--fonts); */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}

.elide {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.search-row {
    display: flex;

    > input[type=search] {
        flex-grow: 1;
        width: 8rem;
    }
    > * {
        border-radius: 0;
        border-right: 0;
    }
    > *:first-child {
        border-top-left-radius: var(--radius);
        border-bottom-left-radius: var(--radius);
    }
    > *:last-child {
        border-top-right-radius: var(--radius);
        border-bottom-right-radius: var(--radius);
    }
}

#header {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: var(--gap);

    > :not(#search-form), .search-row > * {
        height: 2rem;
    }

    & input[type=submit], #alt-theme {
        font-family: "Font Awesome 6 Free", var(--fonts);
        font-weight: 900;
        color: var(--fg-icons);
    }

    & #alt-theme {
        appearance: none;
        margin: 0;
        transition: var(--theme-transition);
        box-shadow: var(--box-shadow);

        &::after {
            content: "🌙\fe0e";
            font-weight: 700;
        }

        &:checked {
            color: hsl(40, 100%, 75%);
            text-shadow: 0 0 0.5rem hsl(40, 100%, 85%);
            background: var(--bg-buttons);
        }
    }
}

#search-form {
    flex-grow: 1;
    display: grid;
    grid-template-rows: min-content 0fr;
    justify-items: center;
    transition: 0.3s grid-template-rows ease-out, var(--theme-transition);

    &:has(#search-filters.on) {
        grid-template-rows: min-content 1fr;
    }

    &:has(:is(
        .filter-choice:not(:first-of-type) input[type=radio]:checked,
        input[type=checkbox]:checked
    )) #filterButton .icon {
        color: var(--accent-strong);
        text-shadow: 0 0 0.5rem var(--accent-strong);
    }

    &:has(#search-filters.on) #filterButton {
        border-bottom-color: var(--accent-strong);
    }

    #filterButton {
        transition: 0.2s all;
        & .icon {
            scale: 0.94;
        }
    }

    .search-row {
        width: 100%;
    }

    & #search-filters {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        opacity: 0;
        overflow: hidden;
        transition: 0.3s all ease-out;
        gap: var(--gap-small);

        & fieldset {
            display: flex;
            flex-flow: column nowrap;
            gap: 0 calc(var(--gap-small) / 2);
            border: 0;

            & .legend {
                grid-column: 1 / -1;
                font-weight: 500;
            }

            &:last-child {
                display: grid;
                grid-template-rows: repeat(7, min-content);
                grid-template-columns: 1fr 1fr;
                align-items: center;
                grid-auto-flow: column;
            }

            .filter-choice {
                display: flex;
                flex-flow: row nowrap;
                & label {
                    flex-grow: 1;
                    padding-left: calc(var(--gap-small) / 2);
                    padding-block: 0.22rem;
                }
            }

        }

        &.on {
            opacity: 1;
            margin-top: var(--gap-small);
        }
    }
}

#channel-page, #playlist-page {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: var(--gap);

    & .banner {
        width: 100%;
        height: 12rem;
    }

    & nav {
        display: flex;
        flex-flow: row wrap;
        gap: var(--gap-small);
        width: 100%;
        align-items: center;

        & .tabs {
            display: flex;
            flex-flow: row wrap;
            gap: var(--gap-small);
            line-height: 2rem;
            flex-grow: 2;
        }

        & .current {
            font-weight: 700;
            &[type=search] {
                font-weight: 500;
                color: var(--accent-strong);
                transition: var(--theme-transition);
            }
        }

        & .search-row {
            scale: 0.95;
            flex-grow: 1;
            margin-right: -0.5rem;
            border: var(--rempx) solid var(--discrete-border);
            border-radius: var(--radius);
        }
    }

    /* These links are useful only when the channel/playlist page is embedded,
       they point to the full page */
    > .avatar-info > a, > .avatar-info > .info > a:not(.rss) {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: var(--fg);
        transition: var(--theme-transition);
    }

    & .playlist-details {
        display: flex;
        flex-flow: row wrap;
        gap: var(--gap-small);
        margin: calc(var(--gap-small) / 2) 0;
        flex-basis: 100%;

        & + p {
            margin-block-start: 0;
        }
    }
}

#channel-page .avatar-info {
    width: 100%;
    & a:has(.avatar), .avatar {
        height: var(--thumb-width);
    }
}

.avatar-info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: var(--gap-small) var(--gap);

    & a:has(.avatar), .avatar {
        align-self: flex-start;
        width: var(--thumb-width);
        height: var(--thumb-height);
    }

    & .info {
        flex: 1;
        min-width: calc(var(--thumb-width) * 2);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 0 var(--gap-small);
        & h1 { 
            display: inline;
        }
        & .user-id {
            > .at {
                font-weight: 700; 
            }
        }
        & p {
            flex-basis: 100%;
        }
    }
}

#watch-page {
    display: grid;
    grid-template-columns: 1fr var(--side);
    grid-template-rows: repeat(4, min-content);
    gap: var(--gap);

    & #player-area {
        /* Prevent layout shift while video is loading */
        min-width: 100%;
        max-width: 100%;
        padding: 0;
        overflow: hidden;
        /* Supposedly makes the transform/radius/clip render on GPU */
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
        box-shadow: var(--box-shadow-strong);
        position: relative;

        & #player-crash-overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99999;
            background: hsla(0, 0%, 0%, 0.85);
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            gap: var(--gap);
            font-size: var(--text-bigger);

            .error {
                padding: var(--vpad) var(--hpad);
                background: black;
                font-size: var(--text-small);
                max-height: 80%;
                max-width: 100%;
                overflow: auto;
            }
        }

        &.crashed #player-crash-overlay {
            display: flex;
        }
    }

    & #video-info {
        grid-column: 1;
        display: flex;
        flex-flow: column nowrap;
        gap: var(--gap-small);
    }

    & #comments {
        grid-column: 1;
    }

    & #other-videos {
        grid-column: 2;
        grid-row: 1 / -1;

        > #playlist {
            position: relative;  /* confine lazy loaders inside to that div */
            max-width: var(--side);
            max-height: 66svh;
            overflow-y: scroll;
            margin-bottom: var(--gap);
            padding: 0;

            & .avatar-info {
                position: sticky;
                top: 0;
                z-index: 100;
                padding: var(--vpad) var(--hpad);
                border-radius: 0;

                & .info {
                    min-width: unset;
                    gap: 0;
                }

                &:not(:hover) {
                    & .info {
                        display: flex;
                        flex-flow: row nowrap;
                        gap: var(--gap-small);
                        align-items: baseline;
                        justify-content: space-between;
                    }
                    & .total-entries {
                        display: flex;
                        flex-flow: row wrap;
                        justify-content: right;
                        gap: calc(var(--gap-small) / 4);
                    }
                    & .channel, .date, .views, .rss {
                        display: none;
                    }
                }

                & p, a:has(> .avatar), .avatar {
                    display: none;
                }
            }
            & .pages {
                margin-top: calc(var(--gap-small) / 2);
                & .page {
                    gap: 0;
                    & .entry {
                        scale: 0.9;
                    }
                }
            }
        }
    }
}

.video-details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
}

.video-author {
    min-height: 4rem;

    & .avatar-info {
        width: 100%;
        box-shadow: none;

        & a:has(> .avatar), .avatar {
            width: 4rem;
            height: 4rem;
        }
        & .info {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-width: var(--thumb-width);
            & h1 {
                align-self: flex-start;
            }
            .user-id {
                display: none;
            }
            & p {
                margin-block-start: 0;
                white-space: normal;
                opacity: var(--opacity-dim);
            }
        }
    }
}

.video-little-details {
    flex-shrink: 0;
}

.yt-markup {
    white-space: pre-wrap;
}

#player-and-controls {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: var(--player-controls-height);
        bottom: 0;
        left: 0;
        right: 0;
        background-image: var(--bg);
        background-size: cover;
        background-position: center;
    }

    &:has(media-controller:not([mediaisfullscreen])) {
        padding-bottom: var(--player-controls-height);
    }
}

media-controller {
    /* opacity: 0; */
    display: block;
    user-select: none;

    & media-poster-image {
        --media-object-fit: cover;
    }

    &:not([mediaisfullscreen]) media-control-bar {
        opacity: 1;
        translate: 0 var(--player-controls-height);
        backdrop-filter: blur(0.625rem);
    }

    & media-control-bar {
        transition: 0.3s all ease-out;
        opacity: 1;
    }
    &[mediaisfullscreen][userinactive]:not([mediapaused]) {
        & media-control-bar {
            translate: 0 var(--player-main-controls-height);
            --media-range-track-height: 0.1rem;
            --media-range-bar-color: var(--accent-strong);

        }
    }

    &[mediaended] {
        > media-loading-indicator {
            --media-control-display: none;
        }
    }

    &[medialoading], &[mediahasplayed]:not([mediaended]) {
        > media-play-button[slot=centered-chrome] {
            --media-control-display: none;
        }
    }

    & media-control-bar {
        backdrop-filter: none;
        white-space: nowrap;
        width: 100%;
        height: var(--player-main-controls-height);

        &:has(> media-time-range) {
            height: var(--player-time-range-height);
            backdrop-filter: unset !important;
            z-index: 10;
            --media-range-thumb-border: var(--rempx) solid rgba(0, 0, 0, 0.7);
        }

        &:hover media-time-range {
            --media-range-track-height: 0.5rem;
        }
    }

    & #current-chapter {
        flex-grow: 10;
        min-width: 0;
        pointer-events: none;
        justify-content: flex-start;
    }

    & media-time-range {
        height: var(--player-time-range-height);
        --media-range-track-transition: height 0.1s;
        --media-range-padding: 0;
    }

    & media-play-button[slot=centered-chrome] {
        border-radius: var(--radius);
        background: hsla(0, 0%, 0%, 0.5);
    }

    & media-airplay-button[mediaairplayunavailable],
    & media-cast-button[mediacastunavailable],
    & media-pip-button[mediapipunavailable] {
        --media-control-display: none;
    }

    & media-airplay-button[mediaisairplaying],
    & media-pip-button[mediaispip],
    & media-cast-button[mediaiscasting],
    & media-captions-menu-button[mediasubtitlesshowing]
    {
        --media-primary-color: var(--accent-strong);
    }

    & .no-choice, media-captions-menu-button:not([mediasubtitleslist]) {
        --media-control-display: none;
    }

    & media-live-button {
        position: absolute;
        top: var(--gap-small);
        left: var(--gap-small);
        padding: calc(var(--vpad) * 2) calc(var(--hpad) * 2);
    }

    & .watch-on-site {
        display: none;
        position: absolute;
        top: var(--gap-small);
        right: var(--gap-small);
        padding: calc(var(--vpad) * 2) calc(var(--hpad) * 2);
        width: 2rem;
        height: 2rem;
        border-radius: var(--radius);
        cursor: pointer;

        & a, img {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            transition: all 0.2s;
        }

        &:hover img {
            filter: brightness(1.15);
            scale: 1.05;
        }
    }

    & #quality-button {
        &:not(.auto) #auto-current-level {
            display: none;
        }
        &.auto #quality-indicator {
            font-size: var(--text-smaller);
            line-height: 110%;
            text-align: center;
        }
        &.auto #auto-current-level {
            font-size: var(--text-smaller);
            line-height: 100%;
            text-align: center;
            opacity: 0.8;
        }
    }

    &.upcoming {
        & #upcoming-notice {
            border: var(--rempx) solid gray;
            border-radius: var(--radius);
        }

        & media-control-bar {
            filter: brightness(0.6);
            cursor: not-allowed;

            & * {
                pointer-events: none !important;
            }
        }
    }
}

.pages { 
    width: 100%;  /* needed in channels */
}

.page {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--side));
    justify-content: center;
    gap: var(--gap-small);
    margin: 0 auto;

    &:not(:first-child) {
        margin-top: var(--gap-small)
    }
}

.short-group {
    &:not(:has(:is(.entry:only-of-type, .channel-featured-shorts-title))) {
        border-radius: var(--radius);
        overflow: hidden;
    }

    & .shorts {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        overflow-x: auto;
        gap: var(--gap-small);
        scroll-snap-type: x mandatory;
    }

    & .entry {
        min-width: var(--side);
        scroll-snap-align: start;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:has(.channel-featured-shorts-title) {
        grid-column: 1 / -1;

        & .entry {
            min-width: unset;
            grid-template-columns: var(--thumb-width);
            grid-template-rows: var(--short-thumb-height) 1fr;
            align-items: start;

            & .thumbnail {
                height: var(--short-thumb-height);
            }

            & .info {
                display: flex;
                flex-flow: row wrap;

                & .title {
                    flex-basis: 100%;
                }
            }
        }
    }
}
#channel-page.on-shorts-tab {
    & .channel-featured-shorts-title {
        display: none;
    }
    & .page {
        grid-template-columns: repeat(auto-fit, var(--thumb-width)); 
        & .shorts {
            display: grid;
            grid-template-columns: repeat(auto-fit, var(--thumb-width));
            justify-content: center;
        }
    }
}
.related-channels-title {
    grid-column: 1 / -1;
    margin-bottom: 0;
}
.related-channels-title ~ .related-channels-title {
    display: none;
}

.entry {
    display: grid;
    grid-template-columns: var(--thumb-width) 1fr;
    grid-template-rows: var(--thumb-height);
    gap: var(--gap-small);
    align-content: center;

    &:not(.playlist:not(.loading)) {
        animation: pop-in 0.3s ease-out;
    }

    &.highlight {
        border: var(--rempx) solid var(--accent);
        transition: var(--theme-transition);
    }

    & .thumbnail {
        grid-row: 1 / 1;

        > div {
            position: relative;
            height: 100%;

            & a:has(> img), img {
                display: block;
                width: 100%;
                height: 100%;
            }

            & .hover-thumbnails > a {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: 1s opacity;
                &.current {
                    opacity: 1;
                }
            }
            > .index {
                position: absolute;
                top: 0;
                left: 0;
                display: none;
            }
            > .duration {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
    & .index, .duration {
        /* scale as workaround to < 1.4rem font-size giving strange padding */
        font-size: var(--text-small);
        transform: scale(80%);
        color: white;
        background: hsla(0, 0%, 0%, 0.7);
        font-variant: small-caps;  /* for LIVE/SOON */
        margin: 0.0625rem;
        padding: var(--vpad);
        border-radius: var(--radius);
    }
    & .info {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        align-content: center;
        align-items: end;
        gap: calc(var(--vpad) / 3) var(--hpad);

        & .title {
            grid-column: 1 / -1;
            -webkit-line-clamp: 3;
            &:has(+ :not(.channel)) { -webkit-line-clamp: 4; }
            &:last-child { -webkit-line-clamp: 5; }
        }
        & .channel {
            grid-column: 1 / -1;
        }
        & .followers > .icon {
            font-weight: 700; 
        }
        & :not(.title) {
            font-size: var(--text-small);
            > * { 
                opacity: var(--opacity-dim);
            }
        }
    }
}

.featured {
    grid-column: 1 / -1;
    padding: 0;
    overflow: hidden;

    &.entry {  /* not loaded yet */
        height: calc(var(--thumb-height) * 2.75);
        position: relative;
        & .thumbnail {
            display: none;
        }
        & .title {
            position: absolute;
            top: 0;
            padding: var(--vpad) var(--hpad);
            font-size: var(--text-big);
            font-weight: 500;
        }
    }

    > .title {
        display: block;
        padding: var(--vpad) var(--hpad);
        padding-bottom: 0;
        color: var(--accent-weak);
        transition: var(--theme-transition);
    }

    & .pages {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        overflow-x: auto;
        padding: var(--vpad) var(--hpad);
    }

    & .page {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        max-width: unset;
        margin: 0;

        & .entry {
            grid-template-columns: var(--thumb-width);
            align-items: start;
            border: var(--rempx) solid var(--discrete-border);

            .thumbnail {
                height: var(--thumb-height);
            }

            & .info {
                display: flex;
                flex-flow: row wrap;

                & .title {
                    flex-basis: 100%;
                }
            }
        }
    }
}

#playlist .index, #playlist-page .index {
    display: unset;
}

#comments {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: var(--gap-small) 0;

    & .comments-off {
        opacity: var(--opacity-dimmer);
    }

    & .comment {
        display: flex;
        flex-flow: row nowrap;
        gap: var(--gap-small);
        animation: pop-in 0.3s ease-out;

        & .avatar {
            min-width: 2.5rem;
            min-height: 2.5rem;
            width: 2.5rem;
            height: 2.5rem;
        }

        & .content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            & .details {
                display: flex;
                flex-flow: row wrap;
                gap: calc(var(--gap-small) * 0.75);
                opacity: var(--opacity-dim);

                & .by-uploader {
                    font-weight: 500;
                }

                & .edited {
                    scale: 0.9;
                    width: unset;
                }

                & .replies .close {
                    display: none;
                }
            }
        }
    }
    & .comment:has(+ .thread-replies:not(.hidden)) .replies {
        & .close { display: initial; }
        & .open { display: none; }
    }
    & .thread-replies {
        position: relative;
        min-width: var(--rempx);
        min-height: var(--rempx);
        padding-left: calc(var(--gap) * 2);

        > div {
            min-width: var(--rempx);
            min-height: var(--rempx);
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            gap: var(--gap-small);
        }

        &.hidden {
            display: none;
        }

        & .load-button:nth-of-type(even):last-of-type {
            display: initial;
            + .lazy-loader {
                display: none;
            }
        }
    }
}

.nothing-found {
    opacity: var(--opacity-dimmer);
    display: flex;
    height: 100%;
    line-height: 2rem;
    justify-content: center;
    align-items: center;
}

.page, #comments {
    position: relative;
}
.lazy-loader {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50svw;
    height: 50svh;
    pointer-events: none;
    /* background: rgba(0, 255, 0, 0.3); */

    &.large {
        width: 200svw;
        height: 200svh;
        /* background: rgba(255, 0, 0, 0.3); */
    }
}
.load-button {
    display: none;
    padding: var(--hpad) calc(var(--hpad) * 2);
    background: var(--bg-front);
    transition: var(--theme-transition);
}

/* HACK: POS search field refuses to naturally narrow past a certain point */
@media all and (max-width: 22rem) {
    .search-row {
        justify-content: center;
        > input[type=search] {
            max-width: 50svw;
        }
    }
}

/* calc(var(--side) + var(--gap) * 2) * 2 */
@media all and (max-width: calc((20rem + 1rem * 2) * 2)) {
    .page {
        grid-template-columns: 100%;
        &:has(.featured) {
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media all and (max-width: 30rem) {
    .video-details {
        flex-flow: row wrap;
        justify-content: center;
    }
    .video-little-details {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        gap: var(--gap-small);
    }
}
@media all and (max-width: 20rem) {  /* var(--side) */
    .entry .info:has(.title + :not(.channel))  {
        grid-template-columns: 1fr;
    }
    .entry .info .title {
        -webkit-line-clamp: 2;
        &:has(+ :not(.channel)) { -webkit-line-clamp: 3; }
        &:last-child { -webkit-line-clamp: 4; }
    }
}

@media all and (max-width: 56rem) {  /* 896px at 16px font size */
    body:has(#watch-page) {
        grid-template-columns: 100%;
    }
    #watch-page {
        justify-items: center;
        & #player-area {
            grid-column: 1 / -1;
        }
        & #other-videos {
            grid-row: 2 / -1;    
        }
    }
}

@media all and (max-width: 48rem) {  /* 768px at 16px font size */
    #watch-page {
        grid-template-columns: 1fr;

        & #other-videos {
            grid-column: 1;
            grid-row: 3;
            width: 100%;
        }

        & #playlist {
            max-width: 100% !important;
            max-height: 50svh !important;
        }

        & #related .load-button:nth-of-type(odd):last-of-type {
            display: initial;
            grid-column: 1 / -1;
            justify-self: center;

            + .lazy-loader {
                display: none;
            }
        }
    }
}

body.embed {
    display: block;
    padding: 0;

    & #watch-page {
        display: block;
        height: 100svh;
    }

    & #player-area {
        min-width: 100% !important;
        max-width: 100% !important;
        height: 100svh;
        border-radius: 0;
    }

    & #player-holder, media-controller {
        height: calc(100svh - var(--player-controls-height)) !important;
        aspect-ratio: unset !important;
    }

    & #header, #player-area ~ * {
        display: none !important;
    }

    & .watch-on-site {
        display: flex;
    }
    media-controller[userinactive][mediahasplayed] .watch-on-site {
        opacity: 0; 
    }
}
